* {
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.site-header-color {
    background-color: var(--secondary-color);
    padding: 20px 0px 20px 0px;
}
.site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigations {
    display: flex;
    gap: 10px;
}
.name-navigation {
    color: var(--third-color);
    font-size: 17px;
    font-weight: 600;
}
.padding {
    padding-left: 10px;
    padding-right: 10px;
}
.experts {
    display: block;
}
.experts-title {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #0369a1;
    text-align: center;
}
.experts-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #737373;
}
:root {
    --primary-color: #075985;
    --secondary-color: #0284c7;
    --third-color: #fafafa;
}
input {
    margin: 0 auto;
    width: 95%;
    border-radius: 20px;
    margin-top: 30px;
    font-size:19px;
    font-weight: 400;
    border: 1px solid #BAE6FD;
    padding: 20px 60px;
    display: flex;
    background-image: url(../photo/neuter-solid\ 1.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 25px 13px;
    background-color: #E0F2FE;
}
.search {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}
input:focus {
    outline-color: #0ea5e9;
}
::-webkit-input-placeholder {
    color: #A3A3A3;
}
.doctors {
    display: flex;
    flex-wrap: wrap;
}
.doctors-info {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    margin-top: 70px;
}
.doctor-photo {
    border-radius: 20px;
    height: 250px;
    margin-bottom: 10px;
}
.fio {
    color: #404040;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.specialty {
    color: #404040;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.doctor-botton { 
    margin: 0 auto;
    padding: 15px 60px 15px 60px;
    font-weight: 700;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid #0284C7;
    border-radius: 10px;
    margin-top: 10px;
    color: #0284C7;
}
.contacts {
    background-color: #f0f9ff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.e-mail-hat {
    display: flex;
    align-items: center;
}
.padding-b {
    padding-bottom: 20px;
}
.contact-icon {
    margin-right: 5px;
    width: 20px;
    height: 23px;
}
.contact-icon-f {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.contacts-title {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
}
.padding-l {
    padding-left: 40px;
}
.padding-2 {
    padding-top: 30px;
}
.e-mail-text {
    font-size: 18px;
    color: var(--primary-color);
    line-height: 25px;
    font-weight: 400;
}
.license {
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 600px) {
    .margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 1024px) {
    .width {
        max-width: 1024px;
        margin: 0 auto;
    }
    .experts-title {
        font-size: 40px;
    }
    .experts-text {
        font-size: 24px;
        line-height: 33px;
    }
    .contact-width {
        max-width: 50%;
    }
    .contact-net {
        display: flex;
        justify-content: space-between;
    }
    .e-mail {
        display: flex;
        justify-content: space-between;
    }
}